@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --body-color: #efefef;
    --nav-color: #1876f2;
    --bg-color: #fff;
}
.dark-theme{
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color: #000;
    
}







body{
    background: var(--body-color);
    transition: background 0.3s;
    /* font-family: 'Sigmar', cursive; */
    font-family: 'Poppins', sans-serif;

}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-color);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;

}
.logo{
    width: 160px;
    margin-right: 45px;
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
}

.nav-left ul li{
    list-style: none;
    display: inline-block;
}

.nav-left ul li img{
    width: 30px;
    margin: 0 15px;
}
.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor:pointer;
}
.nav-user-icon{
    margin-left: 28px;
}
.searchbox{
    width: 300px;
    background: var(--body-color);
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 0 15px;
    height: 40px;
}
.searchbox img{
    width: 18px;

}
.searchbox input{
    width:100%;
    background: transparent;
    outline: none;
    padding: 8px;
    border: 0;
    height: 8px;
}
.online{
    position:relative;
}
.online::after{
    content:'';
    position: absolute;
    top:0;
    right:0;
    width: 7px;
    height: 7px;
    background: green;
    border: 2px solid whitesmoke;
    border-radius: 50%;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}
.left-sidebar{
  
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    /* height: 110vh; */
    /* color:  */
   
}
.main-content{
    background: var(--bg-color);
    flex-basis: 47%;
    /* height: 250vh; */
    position: sticky;
    top:70px;
    align-self: flex-start;
    
}

.implinks{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #ccc;
}
.implinks a{
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-bottom: 30px;
    width: fit-content;
    color: #626262;
}
.implinks img{
    width: 25px;
    margin-right: 10px;
}
.implinks a:last-child{
   
    color: var(--nav-color);
}
.shortcuts{
    display: flex;
    flex-direction: column;

}
.shortcuts p{
    font-size: 25px;
    margin-top: 30px;
    width: fit-content;
    margin-bottom: 30px;
    color: #626262;
}
.shortcuts img{
    width: 50px;
    border-radius: 4px;
    margin-right: 15px;
}
.shortcuts a{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 30px;
    color: #626262;
}
.right-sidebar{
    background: var(--bg-color);
    flex-basis: 25%;
    position: sticky;
    top: 50px;
    align-self: flex-start;
    padding: 20px;
    border-radius: 4px;
    color:#626262;
}
.right-sidebar h4{
    font-size: 16px;
    font-weight: 600;
}
.sidebar-title{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
}
.sidebar-title h4{
    font-size: 16px;
    font-weight: 600;
}
.sidebar-title a{
    color: black;
    text-decoration: none;
    font-size: 12px;
}


.secondsec{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}
.secondsec p{
    font-size: 12px;
}
.secondsec a{
    text-decoration: none;
    font-size: 12px;
    color: var(--nav-color);
}
.calendar{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
     rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
     rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
     margin-right: 15px;
     padding-top: 10px;
     text-align: center;
     position: relative;
     overflow: hidden;
}
.calendar span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--nav-color);
    color: #fff;
    padding: 2px 0;
}
.ads{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 20px;
}
.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.online-list .online img{
    width: 40px;
    border-radius: 50%;
}
.online-list .online{
    margin-right: 15px;
}
.online-list .online::after{
    top: unset;
    bottom: 5px;
}
.story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-size: cover; /*for fitting the image fully covered inside the div of 18 * 32 */
    background-position: center; /* to position the image on the center*/
    border-radius: 10px;
}
.story img{
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 3px solid #1876f2;
}
.story p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color:#fff;
    font-size: 14px;
}
.story1{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url("../img/status-1.png");
}
.story2{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url("../img/member-1.png");
}
.story3{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url("../img/member-3.png");
}
.story4{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url("../img/member-6.png");
}
.story5{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url("../img/member-8.png");
}
.story.story1 img{
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 35px;
}

.write-post-container{
    width: 100%;
    background: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile p{
    font-weight: 500;
    margin-bottom: -5px;
    color: #626262;
}
.user-profile small{
    font-size: 12px;
}
.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
    /* display: flex;
    /* justify-content: center; 
    align-items: center; */
}

.add-post-links{
    display: flex;
    margin-top: 10px;
   
}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 30px;
    color: #626262;
    font-size: 13px;
}
.add-post-links img{
    width: 20px;
    margin-right: 10px;
}

.post-input-container textarea{
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}
.post-container{
    width: 100%;
    margin: 20px 0;
    background: var(--bg-color);
    color: #626262;
    font-size: 14px;
    padding: 20px;
    border-radius: 6px;
}
.user-profile span{
    font-size: 13px;
    color: #9a9a9a;
}
.post-text{
    font-size: 15px;
    margin: 15px 0;
    color: #9a9a9a;

}
.post-text span{
    color: #626262;
    font-weight: 500;
}
.post-text a{
    color: var(--nav-color);
    text-decoration: none;
}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 20px;
}
.post-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.activity-icons div img{
    width: 18px;
    margin-right: 10px;

}
.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}
.post-profile-icon{
    display: flex;
    align-items: center;
}
.post-profile-icon img{
    width: 20px;
    margin-right: 10px;
    border-radius: 50%;
    
}
.post-row a{
    color: #9a9a9a;
}

.load-more-btn{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: 4px;

}
.footer{
    text-align: center;
    color: #9a9a9a;
    padding: 10px 0 20px;
    font-size: 14px;
}
.settings-menu{
    position: absolute;
    width: 90%;
    max-width: 350px;
    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 3%;
    max-height: 0;
    transition: max-height 0.1s;
}
.settings-menu-height{
    max-height: 450px;
}
.user-profile a{
    font-size: 12px;
    color: #1876f2;
    text-decoration: none;
}
.settings-menu-inner{
    padding: 20px;
}
.settings-menu hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}
.settings-links{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.settings-links .settings-icon{
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;


}
.settings-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;

}
#dark-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}
#dark-btn span{
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}
#dark-btn.dark-btn-on{
    padding-left: 23px;
    background: #0a0a0a;
}